* {
  box-sizing: border-box;
}


.login .loginContainer {
  padding: 60px;
  margin: auto;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer input {
  border: 2px solid #603bbb;
  width: 25%;
  padding: 10px;
  background-color: rgb(49, 49, 63);
  border-radius: 20px;
  color: white;
}




.btnContainer {
  margin-top: 50px;
}


.btnContainer button {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 25%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}