* {
  box-sizing: border-box;
}

.login .loginContainer input {
  border: 2px solid #603bbb;
  width: 25%;
  padding: 10px;
  background-color: rgb(49, 49, 63);
}


.btnContainer {
  margin-top: 50px;
}


.btnContainer button {
  border: none;
  border-radius: 20px;
  outline: none;
  width: 25%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}