.Nav {
   background-color: darkslateblue;
   width: 100%;
   color: white;
   position: fixed;
   margin-bottom: 10px;
   height: 10%;
   display: flex;
}

.Nav h1 {
   justify-content: flex-start;
}

.Nav button {
    justify-content: flex-end;
}